* {
    text-align: center;
}

body {
    margin: 40px;
}

header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: bold;
}

header a {
    text-decoration: none;
    color: black;
}

header a:hover {
    color: blue;
}

button {
    background-color: darkblue;
    color: white;
    font-weight: bold;
    font-size: 20px;
    height: 100px;
    width: 40%;
    margin: 3%;
}

button:hover{
    background-color: blue;
    cursor:pointer;
}

#start {
    height: 100px;
    width: 40%;
}

#text {
    margin: 200px;
    font-size: 30px;
    font-weight: bold;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    visibility: hidden;
}

#highscores {
    visibility: hidden;
    font-weight: bold;

}

#highscores p {
    color: blue;
    font-size: 35px;
}

#highscores ol {
    font-size: 25px;
    margin: 30px;
    list-style-type: decimal;
    list-style-position: inside;
}

#highscores ol li{
    margin: 20px;


}

#enterScore {
    visibility: hidden;
}

#enterScore p {
    font-size:30px;
}

#enterScore input {
    height: 100px;
    width: 20%;
}

#enterScore button {
    width: 20%;
}

@media (max-width: 600px) {
    #text {
        /* font-size: 15px; */
        margin: 0;
    }
}